/* CSS for the button */
.skyid-button, .skyid-button:focus {
    color: #fff;
    background-color: #4da155;
    border-radius: .25rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: .75rem 2rem;
    outline:none;
}

.skyid-logo {
	height: 18px;
	vertical-align: middle;
	margin-right: 2px;
}



.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.small-skyid-button, .small-skyid-button:focus {
    color: #fff;
    background-color: #4da155;
    border-radius: .25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    padding: .5rem 1rem;
	outline: none;
}

.float-right {
	float: right;
}

/* CSS for the example page */
.button-blow {
	box-shadow: 1px 1px 60px 10px rgba(255, 255, 255, .2);
	transition: 0.3s;
}

.button-blow:hover {
	box-shadow: 1px 1px 80px 20px rgba(255, 255, 255, .2);
}

.big-margin {
	margin-top: 100px;
	margin-bottom: 100px;
}

.small-margin {
	margin-top: 40px;
	margin-bottom: 40px;
}

.small-margin-top {
	margin-top: 40px;
}

body {
	text-align: center;
	background: #1e2e38;
	color: #FFF;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

a, a:hover, .green {
	color: #57b560;
	text-decoration: none;
}

h2 {
	margin-top: 40px;
	font-weight: bold;
}

.logout-bar {
	text-align: right;
	padding-top: 10px;
	padding-right: 20px;
}

textarea {
	max-width: 100%;
	width: 450px;
    height: 200px;
}

.disabled {
	cursor: not-allowed !important;
}

table {
	width: 100%;
	margin: auto;
}

.container {
	width: 700px;
}

input {
	width: 200px;
	background-color: #2f4858;
	border: none;
	padding: 10px 20px;
	color: #FFF;
	margin-top: 10px;
	border-radius: 5px;
}

.biginput {
	width: 400px;
}